<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>UMKM PBR2 Peduli</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Mentor - v2.0.0
  * Template URL: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="index.html">UMKM PBR2</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <!-- <nav class="nav-menu d-none d-lg-block" style="display: none!important;">
        <ul>
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="courses.html">Courses</a></li>
          <li><a href="trainers.html">Trainers</a></li>
          <li><a href="events.html">Events</a></li>
          <li><a href="pricing.html">Pricing</a></li>
          <li class="drop-down"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="drop-down"><a href="#">Deep Drop Down</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>
          <li><a href="contact.html">Contact</a></li>

        </ul>
      </nav> -->
      <!-- .nav-menu -->

      <a href="https://wa.me/6281291540605?text=Permisi, saya mau daftar di UMKM PBR2, bagaimana caranya?" class="get-started-btn">Ikut Daftar</a>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>UMKM PBR2,<br>#dirumahaja</h1>
      <h2>Belanja keperluan sandang, pangan, jasa, <br>dan lain-lain dari sesama warga</h2>
      <a href="https://wa.me/6281291540605?text=Permisi, saya mau daftar di UMKM PBR2, bagaimana caranya?" class="btn-get-started">Ikut Daftar</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Ini buat apa ya?</h2>
          <p>Sebagai bentuk kepedulian</p>
        </div>

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="assets/img/about.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Agar bisa saling memberdayakan ekonomi, mari beli dari tetangga</h3>
            <p class="font-italic">
              Mulai dari kebutuhan sehari-hari, jasa, hingga fashion dan kosmetik.
            </p>
            <ul>
              <li><i class="icofont-check-circled"></i> Pangan, sayur mayur, sembako</li>
              <li><i class="icofont-check-circled"></i> Barang-barang rumah tangga</li>
              <li><i class="icofont-check-circled"></i> Produk kesehatan, seperti suplemen, vitamin</li>
              <li><i class="icofont-check-circled"></i> Lifestyle, seperti baju, kosmetik dan fashion</li>
              <li><i class="icofont-check-circled"></i> Jasa, seperti servis, terapi kesehatan</li>
            </ul>
            <p>
              Dari kita untuk kita.
            </p>
            <!-- <a href="about.html" class="learn-more-btn">Learn More</a> -->
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Popular Courses Section ======= -->
    <section id="popular-courses" class="courses">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Mau cari apa?</h2>
          <p>Daftar toko/penyedia jasa</p>
        </div>

        <div id="store" class="row px-2" data-aos="zoom-in" data-aos-delay="100">

          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 col-6 d-flex flex-wrap align-items-stretch mt-4 p-1" v-for="store in stores">
            <div class="course-item">
              <img :src="store.cover_image" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex flex-wrap justify-content-start mb-2">
                  <a :href="tag" v-for="tag in store.tag" class="my-1 mr-1"><h4 class="p-1">{{ tag }}</h4></a>
                  <!-- <p class="price">$180</p> -->
                </div>

                <h3><a href="course-details.html">{{ store.name }}</a></h3>
                <p>{{ store.description }}</p>
                <div class="trainer d-flex flex-wrap justify-content-between align-items-center">
                  <div class="d-flex flex-wrap align-items-start">
                    <!-- <img src="assets/img/trainers/trainer-3.jpg" class="img-fluid" alt=""> -->
                    <span class="pr-2">{{ store.seller_name }}</span>
                    <span><a :href="`tel:${store.mobile_no}`">{{ store.mobile_no }}</a></span>
                  </div>
           
                </div>
                <div class="social d-flex mt-2">
                  <a :href="store.whatsapp" v-if="store.whatsapp"><i class="icofont-brand-whatsapp"></i></a>
                  <a :href="store.facebook" v-if="store.facebook"><i class="icofont-facebook"></i></a>
                  <a :href="store.instagram" v-if="store.instagram"><i class="icofont-instagram"></i></a>
                </div>
              </div>
            </div>
          </div> <!-- End Course Item-->

        </div>

      </div>
    </section><!-- End Popular Courses Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>UMKM PBR2 Peduli</h3>
            <p>
              Puri Bintaro Residence 2 <br>
              Serua Indah, Ciputat<br>
              Tangerang Selatan <br><br>
              <strong>Telp:</strong> <a href="tel:081291540605">081291540605</a><br>
              <!-- <strong>Email:</strong> info@example.com<br> -->
            </p>
          </div>

          <!-- <div class="col-lg-2 col-md-6 footer-links" style="display: none;">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links" style="display: none;">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div> -->

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          <!-- &copy; Copyright <strong><span>Mentor</span></strong>. All Rights Reserved -->
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          <p>Hero image by <a href="https://www.freepik.com/free-photos-vectors/business">Frepik Business vector</a>
          Food image by <a href="https://www.freepik.com/free-photos-vectors/food">macrovector_official</a></p>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/umkmpbr2peduli/" class="instagram"><i class="bx bxl-instagram"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <script src="https://unpkg.com/vue"></script>
  <script src="assets/js/data.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>